/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
* {
	font-family: 'Noto Sans KR', sans-serif !important;
}
section {
    /* background-color: tomato; */
    margin-top: 50px;
    margin-bottom: 50px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-color-emerald {
    background-color: #1AA69C;        
}

#emoji {
    font-size: 10em;
}

#name {
    color: white;
    font-size: x-large;
}

.headline {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;   
}

/* history */
#history {margin: 30px auto; position: relative; width: 960px;}
#history:before {content: " "; display: block; position: absolute; left: 50%;
    margin-left: -2px; padding: 20px 0; width: 3px; height: 100%; background-color: #eee;}
#history li { position: relative; margin-bottom:20px; width: 50%;}
#history li:before { content: " ";display: block; position: absolute; top: -4px; left: 85.3333%;
    width: 75px; height: 38px;
    background-image: url(https://surc.or.kr/assets/icon-history-72e35a81b533771b1d598ddb83c79a8a761f88f76248478975f944c06bffefb8.png); background-size: 78px 38px;}
#history li:nth-child(odd) { padding-left: 59.5%;}
#history li:nth-child(odd):before { transform: rotate(180deg); left: 45.3333%;    right: auto;}
#history li h4 {padding-top:6px; margin-bottom: 10px; font-size:18px;color: #3f454b; font-weight: bold;}
#history li p { font-size: 15px;    line-height: 1.7;    letter-spacing: 0.01rem;    color: #707984;    word-break: keep-all;}
#history li span{position:relative; display: block; margin-top:20px; width: 320px; height: 180px; background:#dfdfdf}
#history li span:before{ content:'images box'; position:absolute; top:50%; left:50%; margin-top:-15px; margin-left: -35px; font-size:14px;}

/* blockquote */
blockquote:before {
    content: "\201C";
    font-size: 3em;
}
blockquote:after {
    content: "\201D";
    font-size: 3em;
}

#plan {
    /* color: white; */
    /* background: #1AA69C; */
}

details {
  width: 50%;
  margin: 0 auto ;
  /* background: #1AA69C; */
  margin-bottom: .5rem;
  box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
  border-radius: 5px;
  overflow: hidden;
} 
summary {
  padding: 1rem;
  display: block;
  /* background: #1AA69C; */
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
}
details summary, details ul * {
    display: flex;
    justify-content:center;
    align-items:center;
}
summary:before {
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent #000;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}
  
/* ratate */
details[open] > summary:before {
  transform: rotate(90deg);
}
details summary::-webkit-details-marker {
  display:none;
}  
details > ul {
  padding-bottom: 1rem;
  margin-bottom: 0;
}